<div class="user-details">
    <h1> Wer bin ich? </h1>
    <p> {{site.user_description}} </p>
</div>
<div class="user-details">
    <h1>{{site.technical-skills.title}}</h1>
</div>
<div class="user">
    <div class="tech">
        <h2>{{site.technical-skills.frontend_title}}</h2>
        <i class="devicon-angularjs-plain"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-bower-plain"></i>
        <i class="devicon-webstorm-plain"></i>
        <i class="devicon-grunt-plain"></i>
        <p>{{site.technical-skills.frontend}}</p>
    </div>
    <div class="tech">
        <h2>{{site.technical-skills.backend_title}}</h2>
        <i class="devicon-nodejs-plain"></i>
        <i class="devicon-symfony-plain"></i>
        <i class="devicon-mysql-plain"></i>
        <p>{{site.technical-skills.backend}}</p>
    </div>
    <div class="tech">
        <h2>{{site.technical-skills.devops_title}}</h2>
        <i class="devicon-docker-plain"></i>
        <i class="devicon-sourcetree-plain"></i>
        <i class="devicon-google-plain"></i>
        <p>{{site.technical-skills.devops}}</p>
    </div>
</div>
<div class="user">
    <div class="tech">
        <h2>{{site.technical-skills.delivery_title}}</h2>
        <i class="devicon-git-plain"></i>
        <i class="devicon-bitbucket-plain"></i>
        <p>{{site.technical-skills.delivery}}</p>
    </div>
    <div class="tech">
        <h2>{{site.technical-skills.qa_title}}</h2>
        <i class="devicon-chrome-plain"></i>
        <i class="devicon-jasmine-plain-wordmark"></i>
        <i class="devicon-confluence-plain"></i>
        <p>{{site.technical-skills.qa}}</p>
    </div>
</div>
