<div class="user-details">
    <h1>{{site.interests.title}}</h1>
</div>
<div class="user">
    <div class="tech">
        <i class="icon fa fa-anchor"></i>
        <h2>{{site.interests.sport_title}}</h2>
        <p>{{site.interests.sport}}</p>
    </div>
    <div class="tech">
        <i class="icon fa fa-leaf"></i>
        <h2>{{site.interests.sustainability_title}}</h2>
        <p>{{site.interests.sustainability}}</p>
    </div>
    <div class="tech">
        <i class="icon fa fa-glass"></i>
        <h2>{{site.interests.beer_title}}</h2>
        <p>{{site.interests.beer}}</p>
    </div>
    <div class="tech">
        <i class="icon fa fa-film"></i>
        <h2>{{site.interests.music_movies_title}}</h2>
        <p>{{site.interests.music_movies}}</p>
    </div>
</div>