<div class="user-details">
    <h1>{{site.product-skills.title}}</h1>
</div>
<div class="user">
    <div class="tech">
        <i class="icon fa fa-refresh"></i>
        <h2>{{site.product-skills.agile_title}}</h2>
        <p>{{site.product-skills.agile}}</p>
    </div>
    <div class="tech">
        <i class="icon fa fa-group"></i>
        <h2>{{site.product-skills.leadership_title}}</h2>
        <p>{{site.product-skills.leadership}}</p>
    </div>
    <div class="tech">
        <i class="icon fa fa-rocket"></i>
        <h2>{{site.product-skills.products_title}}</h2>
        <p>{{site.product-skills.products}}</p>
    </div>
</div>